* {
  box-sizing: border-box;
  margin: 0 auto;
}
ul,
ol {
  list-style: none;
}
img {
  display: block;
}

body {
  background-color: #ffffff;
}
.container {
  max-width: 1440px;
  padding: 0 156px;
  margin: 0 auto;
}
.gallery-item {
  margin: 0;
  width: calc((100% - 2 * 24px) / 3);
}
.gallery {
  padding: 24px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.gallery-image {
  width: 100%;
  max-width: 360px;
  height: 200px;
}
